<div class="row">
  <div class="col-md-12">
    <h1 class="text-center color_white ">Editing Article</h1>
  </div>
</div>
<%= render 'form' %>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <%= link_to 'Show', @article, class: "btn btn-default" %> |
    <%= link_to 'Back', articles_path, class: "btn btn-default" %> | <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>
  </div>
</div>
<script type="text/javascript">
  switch_button();
</script>